/* ===============================
   Author: Matthew Fisher
   Date:   September 2018
   URL:    {thefishtankblog.co.za}
   


/* General */

*{
    font-size: 12px;
}
body {
    background: url('../images/backgroundImage.jpg') no-repeat center center fixed;
    background-color: #071927;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
       
    
  font-family: 'Poppins', sans-serif;
   -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-size: 16px;
  line-height: 1.4em;
  scroll-behavior: smooth;
  width: 100%;

}

a:link{
text-decoration: none;
color: aliceblue;
transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

a:visited{
text-decoration: none;
color: aliceblue;
}

a:hover{
text-decoration: none;
color: #007cf0;
font-style: italic;
    cursor: pointer;
    transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}


.container{
  position: relative;
      width: 700px;
    margin: 0 auto;

}

/* Typography */



/* Header */


.main-header{
  height: 100px;
  background-color: #0d0d0d;
  width: 100%;
}


.main-nav ul li{
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
  width: 70px;
  height: 50px;
  margin: 0;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
  
  
  position: relative;
  top: 10px;
}

.main-nav ul li a:link{
  color: rgba(255,255,255,1);
  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.main-nav ul li a:visited{
  color: rgba(255,255,255,0.5);
}

.main-nav ul li a:hover{
  color: #007cf0;
  font-style: italic;
  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.main-nav{
  float: right;
  
  margin: 0;
  padding: 0;
}

header div img{
  
    display: inline-block;
    width: 350px;
    margin-left: 350px;
}

.logo {
   display: inline-block;
   width: 300px;
   margin: 0;
   padding: 0;
   position: relative;

   -webkit-animation: action 1s infinite  alternate;
   animation: action 1s infinite  alternate;
    
}

 @-webkit-keyframes action {
        0% { transform: translateY(0); }
        100% { transform: translateY(-10px); }
    }
    @keyframes action {
        0% { transform: translateY(0); }
        100% { transform: translateY(-10px); }
    }




/* Sidebar */
#navButton {
 position: absolute;
 z-index: 2;
 right: -30px;
    cursor: pointer;
    margin-top: 150px;

}
.sidebar {
  list-style: none;
  font-size: 12px;
  width: 310px; 
  display: block;
  border: 1px solid black;
  height:100%;
  position:fixed;
  left: 0px;
  z-index:1;
  
  background-color: #0d0d0d;
  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;

}

.sidebar.show {
  left: -310px;
  transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

.sidebar ul{
  list-style: none;
  padding-top: 20px;
  padding-right: 25px;
  color: aqua;
   
}

.sidebar a:hover{
    color: #007cf0;
}

.bio li p,.bio li a{
    font-size: 10px;
}





/* Lead Content */
.lead-item {
  width: 500px;
  text-align: justify;
  padding-left: 20px;
  position: relative;
  margin-bottom: 100px;
  margin-left: 0 auto;
    font-size: 12px;
    border: solid 0px black;
    
    
}
.lead-item p{
    color: aliceblue;
    
}

.journey {
    margin-bottom: 150px;
}

.journey p{
    color: aliceblue;
}

.overview{
    font-size: 20px;
}

.weekLabel{
    font-size: 14px;
}

.trimesterheader{
    font-size: 16px;
}



/* The Whole Story */



/* Articles Section */

.hoverPointer{
    cursor: pointer;
}

/* Footer */

.main-footer{
  background-color: #0d0d0d;
  color: aliceblue;
  float: bottom;
  
  height: 120px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  
}

.like-me{
  float: left;
  width: 300px;
    
}
.copyright{
  float: right;
}






/* Force Elements to Self Clear its Children: http://css-tricks.com/snippets/css/clear-fix/ */

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */





